<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="leiaute.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Caminho das Pedras </title>
</head>
<body>
<div id="main">

    <h1>Caminho das Pedras</h1>
    <%= body %>
    <p class="coda">
      <a href="jonatasdp@gmail.com">Jônatas Davi Paganini</a>
    </p>
</div>

</body>
</html>
